---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('August 08 2021')}
>
	<p>
		hello fellow reader this is a work in progress check back soon
	</p>
</Layout>
