---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello visitor</h1>
			<p>
				Welcome to my webpage.
                i am creating this webpage for a school / personal project 
                feel free to look around as there is not much to see.
			</p>

            <p>
                the main reason i am making this webpage is to learn html and css
                this is still a work in progress but feel free to check in from time to time
            </p>

		</main>
		<Footer />
	</body>
</html>
